html{
    padding:0;
    margin: 0;
}
body{
    padding:0;
    margin: 0;
    background-color: #F1F0ED;
    color: #8A837C;
    font-family: "Geist Mono";
    font-size: 14px;
    line-height: 20px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
  /* color:rgb(70, 70, 70); */
  color:inherit;
  transition: 0.4s;
}


.boxer{
    background-size: 4vw 20px;
    background-image:
    linear-gradient(to left, rgba(216, 216, 216,1) 1px, transparent 1px),
    linear-gradient(to top, rgba(204, 204, 204,1) 1px, transparent 1px);
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Geist Mono";
    color:#675c51;
    /* line-height: 2.083vw; */
    text-transform: capitalize;
    /* border:1px solid red; */
    margin:0;
    padding:0;
}
h2{
    font-size:18px;
    line-height:20px;
    font-weight: 700;
    /* color:black; */
}
h3{
    font-size:14px;
    line-height:20px;
    font-weight: 400;  
}
p{
    font-family: "Geist Mono";
    
    margin:0;
    padding:0;
}

img{
    border:none;
    display: block;
}

