.app{
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:grid;
    grid-template-columns: 232px 1fr 
    /* column-gap: 0; */

}
.sidebar{
    height:100vh;
    grid-column: 1/span 1;
    border-right:1px dotted #8A837C;
    /* background:Red; */
    /* padding-left:4vw;
    padding-top:4vw; */
}
main{
    grid-column: 2/span 1;
    
    /* height:100vh; */
    /* border-right:1px dotted #8A837C; */
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    position:relative;
    z-index:0;
}
.main_1{
    grid-column: 1/span 1;
    border-right:1px dotted #8A837C;
    padding:40px;
    container-type: inline-size;
    /* padding-right:4.166vw; */
}
.main_2{
    grid-column: 2/span all;
    /* display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: calc(50% - 20px); */
    gap:40px;
    padding:40px;
    overflow:scroll;

    display:flex;
    flex-wrap:wrap;
    /* align-items: center; */

    /* width:64vw; */
    /* background: red; */
    /* border-right:1px dotted #8A837C; */
    /* padding-right:1vw; */
}